---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/pvwatts/v5.json?address=80220&api_key=JTA78ioyrPZ2AEfxYmqa4UttsokMGxXgXI48L6rF&array_type=1&azimuth=180&losses=15&module_type=1&system_capacity=4&tilt=40
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5205207135fa6ad4c459e22446759983"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '994'
    body:
      encoding: ASCII-8BIT
      string: '{"inputs":{"address":"80220","array_type":"1","azimuth":"180","losses":"15","module_type":"1","system_capacity":"4","tilt":"40"},"errors":[],"warnings":[],"version":"1.2.0","ssc_info":{"version":45,"build":"Linux
        64 bit GNU/C++ Jul  7 2015 14:24:09"},"station_info":{"lat":40.016666412353516,"lon":-105.25,"elev":1634.0,"tz":-7.0,"location":"94018","city":"BOULDER","state":"CO","solar_resource_file":"94018.tm2","distance":42376},"outputs":{"ac_monthly":[447.6342468261719,440.1351623535156,594.391845703125,567.5779418945312,572.3471069335938,551.8007202148438,558.0916137695312,574.0592651367188,564.5233764648438,542.496337890625,445.2069396972656,433.1220397949219],"poa_monthly":[136.04103088378906,136.04443359375,185.7895965576172,181.16891479492188,185.77963256835938,182.52105712890625,187.89971923828125,193.35572814941406,187.40081787109375,175.5979461669922,137.59872436523438,131.25526428222656],"solrad_monthly":[4.388420581817627,4.858729839324951,5.993212699890137,6.038963794708252,5.992891311645508,6.084035396575928,6.061281204223633,6.237281322479248,6.246694087982178,5.664449691772461,4.5866241455078125,4.2340407371521],"dc_monthly":[467.36065673828125,460.27947998046875,620.9012451171875,593.3106079101562,598.6921997070312,577.8218383789062,584.1776733398438,600.0214233398438,589.5814208984375,566.3180541992188,464.96630859375,452.26019287109375],"ac_annual":6291.38671875,"solrad_annual":5.5322184562683105}}'
  recorded_at: Sat, 23 Apr 2016 00:49:14 GMT
recorded_with: VCR 3.0.1
