---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/solar/open_pv/installs/summaries?api_key=JTA78ioyrPZ2AEfxYmqa4UttsokMGxXgXI48L6rF&state=CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"2f0b2f80ee82312271483bf270592aab"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '994'
    body:
      encoding: ASCII-8BIT
      string: '{"inputs":{"state":"CO"},"metadata":{"version":"2.0.0","resultset":{}},"status":200,"result":{"avg_cost_cap_weight":5.596,"avg_cost_pw":5.791,"best_avg_cost_pw":2.498,"total_capacity":135.1303,"total_installs":2601,"total_installs_with_cost":713}}'
  recorded_at: Wed, 20 Apr 2016 05:31:27 GMT
recorded_with: VCR 3.0.1
