---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/solar/open_pv/installs/summaries?api_key=JTA78ioyrPZ2AEfxYmqa4UttsokMGxXgXI48L6rF&zipcode=80220
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"9873f2e96ec3f4e1a49b43939bdc1d89"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
    body:
      encoding: ASCII-8BIT
      string: '{"inputs":{"zipcode":"80220"},"metadata":{"version":"2.0.0","resultset":{}},"status":200,"result":{"avg_cost_cap_weight":6.784,"avg_cost_pw":6.928,"best_avg_cost_pw":6.928,"total_capacity":0.0837,"total_installs":20,"total_installs_with_cost":5}}'
  recorded_at: Wed, 20 Apr 2016 01:01:06 GMT
recorded_with: VCR 3.0.1
