---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/solar/open_pv/installs/summaries?api_key=JTA78ioyrPZ2AEfxYmqa4UttsokMGxXgXI48L6rF&state=AL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"404732c1e1a0840c8d33e2ac981a2b90"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '994'
    body:
      encoding: ASCII-8BIT
      string: '{"inputs":{"state":"AL"},"metadata":{"version":"2.0.0","resultset":{}},"status":200,"result":{"avg_cost_cap_weight":7.569,"avg_cost_pw":7.574,"best_avg_cost_pw":3.38,"total_capacity":0.144,"total_installs":31,"total_installs_with_cost":25}}'
  recorded_at: Mon, 25 Apr 2016 23:36:16 GMT
[...]
- request:
    method: get
    uri: https://developer.nrel.gov/api/solar/open_pv/installs/summaries?api_key=JTA78ioyrPZ2AEfxYmqa4UttsokMGxXgXI48L6rF&state=CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"2f0b2f80ee82312271483bf270592aab"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '993'
    body:
      encoding: ASCII-8BIT
      string: '{"inputs":{"state":"CO"},"metadata":{"version":"2.0.0","resultset":{}},"status":200,"result":{"avg_cost_cap_weight":5.596,"avg_cost_pw":5.791,"best_avg_cost_pw":2.498,"total_capacity":135.1303,"total_installs":2601,"total_installs_with_cost":713}}'
  recorded_at: Mon, 25 Apr 2016 23:36:30 GMT
- request:
    method: get
    uri: https://developer.nrel.gov/api/solar/open_pv/installs/summaries?api_key=JTA78ioyrPZ2AEfxYmqa4UttsokMGxXgXI48L6rF&state=CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"af6d05be4c720269f97f0080ad9edea4"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '992'
    body:
      encoding: ASCII-8BIT
      string: '{"inputs":{"state":"CA"},"metadata":{"version":"2.0.0","resultset":{}},"status":200,"result":{"avg_cost_cap_weight":6.117,"avg_cost_pw":6.885,"best_avg_cost_pw":4.495,"total_capacity":3714.0115,"total_installs":291518,"total_installs_with_cost":287977}}'
  recorded_at: Mon, 25 Apr 2016 23:36:50 GMT
recorded_with: VCR 3.0.1
