---
http_interactions:
- request:
    method: get
    uri: http://api.eia.gov/series/?api_key=EC28B206A1F13B7ABC5601F247D40844&series_id=ELEC.PRICE.CO-RES.A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"request":{"command":"series","series_id":"ELEC.PRICE.CO-RES.A"},"series":[{"series_id":"ELEC.PRICE.CO-RES.A","name":"Average
        retail price of electricity : Colorado : residential : annual","units":"cents
        per kilowatthour","f":"A","description":"Electricity sold to residential customers;
        Electricity sold to residential customers; ","copyright":"None","source":"EIA,
        U.S. Energy Information Administration","iso3166":"USA-CO","geography":"USA-CO","start":"2001","end":"2015","updated":"2016-02-25T13:07:32-0500","data":[["2015",11.98],["2014",12.18],["2013",11.93],["2012",11.46],["2011",11.27],["2010",11.04],["2009",10],["2008",10.13],["2007",9.25],["2006",9.02],["2005",9.06],["2004",8.42],["2003",8.14],["2002",7.37],["2001",7.47]]}]}'
  recorded_at: Sat, 23 Apr 2016 00:49:15 GMT
recorded_with: VCR 3.0.1
