<div class='explainations' id="azimuth-help-card">
  <a class='cancel-button' href='#'><%= image_tag("cancel-button.png", id:"cancel-button", class:"cancel-logo", size: "20") %></a>
  <h5 class="help-header">The Solar Calculator</h5><br>


    <h6 class="help-header">How to find your azimuth angle</h6>
    <p class="help-text">
The azimuth angle is the angle clockwise from true north describing the direction that the solar panels with be faceing. An azimuth angle of 180° is for a south-facing array, and an azimuth angle of zero degrees is for a north-facing array.

The default value is an azimuth angle of 180° (south-facing) for locations in the northern hemisphere and 0° (north-facing) for locations in the southern hemisphere. These values typically maximize electricity production over the year, although local weather patterns may cause the optimal azimuth angle to be slightly more or less than the default values.

To find the azimuth angle for your house, find the direction that your roof angle faces and use a compass to see at what degree it points. The optimal angle for solar panels are between Southwest through Southeast. If your roof is facing East or West you can still have panels mounted on a poll or on the ground that face South. If you do not know your azimuth angle use the default

setting in the calculator for 180 degrees South.

    </p>

</div>

