<div id="explaination">
  <h5 class="help-header">The Solar Calculator</h5>
  <p class="help-text">

  </p>

  <h6 class="help-header">What are Kilowatt Hours?</h6>
    <p class="help-text">
      Electricity is measured in kilowatt‐hours (kWh). One kWh of energy is equal to 1000 watt hours and will power a 100 watt light bulb  
       for 10 hours (100 watts x 10 hours = 1,000 watt‐hours = 1 kWh).
  To find out your annual KWh, visit your utility companies website and search under your account for annual KWh.
    </p>

    <h6 class="help-header">How to find out your roof angle</h6>
    <p class="help-text">
    The angle or pitch of your roof affects your solar panels’ production levels and subsequently,
    the overall financial performance of your solar power system.
    If you do not know your roof angle, there are many free apps for smartphones that can help you easily calculate your roof angle.
    We have selected the most common roof angles and converted them to degrees.
    </p>

    <h6 class="help-header">How to find your azimuth angle</h6>
    <p class="help-text">
    </p>

    <h6 class="help-header">About system size</h6>
    <p class="help-text">
    </p>

</div>
