<div class='container footer'>
<div class="row">
  <div class="col-xs-12 text-center lo-footer">
    <p class="footer-text">@ 2016 WattSumSolar<span class="footer-text-bold">
      Denver, CO, USA 80220 All rights reserved
    </span>
    </p>
    <br>
    <br>
  </div>
</div>
</div>
