<div class='container footer'>
<div class="row">
  <div class="col-xs-12 text-center lo-footer">
    <p class="footer-text">Wattsumsolar®<span class="footer-text-bold"> is a registered trademark by Alliance for Sustainable Energy, LLC in Golden, CO, 80401span</span></p>
    <br>
    <br>
  </div>
</div>
</div>
