<div class='homepage-info' id="calculator-help-card">
    <h6 class="help-header">Welcome</h6>
    <p class="help-text">

    WattsumSolar's Calculator is a web application that estimates the electricity production of a grid-connected roof- or ground-mounted photovoltaic system based on a few simple inputs.</p><br>
    <p>To use the calculator, you provide information about the system's location, basic design parameters, and system economics. It calculates the estimated values for the system's annual and monthly electricity production, and for the monetary value of the electricity.</p><br>
    <p>To get started, select your state, zip code, enter in your annual kilowatt hours, select your roof angle, azimuth angle, and System size in kilowatts. <strong>Click on the information icons next to the inputs for more detailed information.</strong> We use this information to automatically identify solar resource data available at or near the system's location. The location may be anywhere in the United States. The calculator estimates the monthly and annual electricity production of a photovoltaic system using an hour-by-hour simulation over a period of one year.</p><br>

    <p>The calculator is suitable for very preliminary studies of a potential location for a photovoltaic system that uses crystalline silicon or thin film photovoltaic modules. The calculator does not account for many factors that are important in the design of a photovoltaic system. If you are using it to help design a system, you should work with a qualified professional to make final design decisions based on an assessment of the system location and using more detailed engineering design and financial analysis tools.</p><br>

    </p>

</div>

