<div class='homepage-info' id="homepage">
    <h6 class="welcome-header">Welcome</h6>
    <p class="welcome-text">
WattSumSolar® Calculator

Estimates the energy production and cost of energy of grid-connected photovoltaic (PV) energy systems throughout the United States.

It allows homeowners, small building owners, installers and manufacturers to easily develop estimates of the performance, cost,

and the percentage offset of potential PV installations.
    </p>

</div>

