<nav role="navigation" class="navbar navbar-default custom-navbar">
  <div class="nav-container row">

    <div class='navbar-get-started' id='get-started'>
      <h5><a class='navbar logo-link' id='get-started-link' href='/solar_calculator'>Get Started</a></h5>
    </div>

    <div class="navbar-header pull-left">
      <a class="logo-link" href="/"><%= image_tag("nav-logo.png", id:"nav-logo_img", class:"logo-img") %></a>
    </div>


  </div>
</nav>

