<nav role="navigation" class="navbar navbar-default custom-navbar">
  <div class="nav-container">

    <div class="navbar-header pull-left">
      <a class="logo-link" href="/"><%= image_tag("nav-logo.png", id:"nav-logo_img", class:"logo-img") %>
      <span class="nrel">C.A.</span><span class="nrel">M.P</span></a><br>
    </div>

  </div>
</nav>
