<div class='explainations'  id="roof-help-card">
  <a class='cancel-button' href='#'><%= image_tag("cancel-button.png", id:"cancel-button", class:"cancel-logo", size: "20") %></a>

  <h5 class="help-header">The Solar Calculator</h5><br>

    <h6 class="help-header">How to find out your roof angle</h6>
    <p class="help-text">
The tilt angle is the angle from horizontal of the photovoltaic modules in the array. For a fixed array, the tilt angle is the angle from horizontal of the array where 0° = horizontal, and 90° = vertical.

Often, users set the tilt angle to the latitude of the selected location. However, setting the tilt equal to the latitude does not necessarily maximize the net annual output of the system, as lower tilt angles favor peak production in the summer months and higher tilt angles favor lower irradiance conditions in the winter months. Designers often use a lower tilt angle to minimize the cost of racking and mounting hardware, or to minimize the risk of wind damage to the array.

In general, using a tilt angle greater than the location's latitude favors energy production in the winter and using a tilt angle less than the location's latitude favors energy production in the summer.

For a PV array on a building's roof, you may want to choose a tilt angle equal to the roof pitch. If you do not know your roof pitch use 33 degrees as your tilt to get the maximum performance from a PV array.
    </p>

</div>
