<div class='calculation-info' id="calculator-help-card">
    <h6 class="help-header">About the solar calculator</h6>
    <p class="help-text">

    WattsumSolar's Calculator is a web application that estimates the electricity production of a grid-connected roof- or ground-mounted photovoltaic system based on a few simple inputs.</p><br>
    <p>To use the calculator, you provide information about the system's location, basic design parameters, and system economics. It calculates the estimated values for the system's annual and monthly electricity production, and for the monetary value of the electricity.</p><br>
</div>
