<div class='explainations' id="system-help-card">
  <a class='cancel-button' href='#'><%= image_tag("cancel-button.png", id:"cancel-button", class:"cancel-logo", size: "20") %></a>
  <h5 class="help-header">The Solar Calculator</h5>

    <h6 class="help-header">About system size</h6>
    <p class="help-text">
    </p>

</div>
