<div class='explainations' id="system-help-card">
  <a class='cancel-button' href='#'><%= image_tag("cancel-button.png", id:"cancel-button", class:"cancel-logo", size: "20") %></a>
  <h5 class="help-header">The Solar Calculator</h5>

    <h6 class="help-header">About system size</h6>
    <p class="help-text">

    <p>System size is measured in kilowatts. A typical solar panel produces around 200 watts of power. A 1 kilowatt system will roughly be about 5 panels and will produce 1 kilowatt or 1000 watts of electricity.</p><br> <p>If you are not

    sure what size system you will need, begin with 1 kilowatt. The calculator will return the annual ac output, how much it will offset your electricity consumption, the upfront cost, and the payoff over time.</p><br> <p>You can increase the

    size of the system to meet your needs. Simple just change the inputs at any time and hit the calculate button again!</p>
    </p>
    </p>

</div>
