<div class='container row'>
  <div class='col s12 m6' id='us-map'>
  <div id="us_map" style="position: relative; width: 950px; height: 600px;"></div>
  </div>

  <div class="col s12 m6" id='welcome'>
    <div class="welcome-info">
      <%= render 'shared/homepage' %>
    </div>
  </div>
</div>
