<div class='container row'>
  <div class='col s12 m6' id='us-map'>
  <div id="us_map" style="position: relative; width: 850px; height: 500px;"></div>
  </div>

  <div class="col s12 m6" id='welcome'>
    <div class="welcome">
      <h5 class="welcome-text"><a href='/solar_calculator'>Get Started</a></h5>
    </div>
  </div>
</div>
