#left-card {
  position: relative;
  right: 30px;
  margin-top: 20px;
}
#right-card {
  position: relative;
  left: 70px;
}
::-webkit-scrollbar {
width: 10px;
height: 10px;
}
::-webkit-scrollbar-track-piece  {
background-color: white;
}
::-webkit-scrollbar-thumb:vertical {
height: 30px;
background-color: #0079c2;
}

.calculator {
  width: 300px;
  height: 300px;
  background: transparent;
  position:absolute;
  top: 170px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 4;
  min-height: 250px;
  min-width: 250px;
  text-align: -webkit-center;
  opacity: 0;
}
.select {
  font-size: 13px;
  font-weight:bold;
  color: white
}
.select select {
  -webkit-appearance: none;
  display: block;
  padding: 1.2em 1.2em 1.2em 1.2em;
  margin: 10px;
  background: #2196F3;
  border-radius: 5px;
  color: white;
  line-height: normal;
  font-family: inherit;
  font-size: smaller;
  line-height: inherit;
  opacity: .9;
  width: 300px;
  height: 50px;
}

.select-box {
  margin: auto;
  position: relative;
  display: block;
}
.welcome-form {
  position: relative;
  top: 15%;
}
.welcome-text {
  color: #2196F3;
}

.azmuith-angle {
  padding-bottom: 20px;
}

.submit-btn {
  padding-top: 20px;
}
.results {
  padding-top: 30px;
  margin-top: 15px;
  border-top: 1px solid #eee;
}

#text-select {
  position: relative;
  right: -120px;
}

.result-box {
  display: inline;
  padding: 0.5em 1.2em 0.5em 1.2em;
  margin: 5px;
  border-radius: 5px;
  background: #81C784;
  color: white;
  line-height: normal;
  font-family: inherit;
  font-size: smaller;
  line-height: inherit;
  opacity: .9;
  width: 150px;
  height: 5px;
}

.explainations {
  bottom: 15%;
  right: 0;
  left: 0;
  margin: auto;
  padding: 12px;
  opacity: 0.80;
  border-radius: 15px;
  position: fixed;
  width: 50%;
  min-width: 300px;
  height: 400px;
  background: #BBDEFB;
  z-index: 15;
  display: none;
  text-align: center;
  overflow-y: scroll;
}

 .help-text .help-header {
  font-family: 'Roboto Slab', "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 1.75em;
  margin-bottom: .4em;
}
.calculation-info {
  bottom: 15%;
  right: 0;
  left: 0;
  margin: auto;
  padding: 12px;
  opacity: 0.80;
  border-radius: 15px;
  border-style: solid;
  border-color: #FF5722;
  position: relative;
  margin-top: 30;
  width: 50%;
  min-width: 300px;
  height: 600px;
  background: #FFFFFF;
  display: none;
  z-index: 15;
  text-align: center;
  overflow-y: scroll;
}

.help-header {
  color: #FF9800;
}

.text-select {
  display: inline;
  color: #2196F3;
}

#kwh-text {
  position: relative;
  right: 30px;
  display: inline;
}

#info_kwh {
  position: relative;
  right: 37px;
  display: inline;
  float: left;
  margin-right: 10px;
}

#info_roof {
  display: inline;
  float: left;
  margin-right: 10px;
}

#info_azimuth {
  display: inline;
  float: left;
  margin-right: 10px;
}

#info_system {
  display: inline;
  float: left;
  margin-right: 10px;
}

#zipcode {
  max-width: 23vw;
}

#kwh {
  height: 2rem;
}

#zip {
  height: 2rem;
}

#kwh-info-div {
  height: 2rem;
}
#kwh-div {
  max-width: 23vw;
}

#roof-angle-div {
  position: relative;
  right: 50px;
}

#select-state {
  position: relative;
  right: 10px;
}

#azimuth-angle-div {
  position: relative;
  right: 50px;
}

#system-size {
  position: relative;
  right: 50px;
}

.category-text {
  display: inline;
}

.result-box {
  display: inline;
}

.state-kwh-table {
  text-align: center;
}

#cancel-button {
  position: static;
  float: right;
}

.graph-title {
  position: relative;
  left: 75px;
  color: #CB4B19;
}

#graph-header {
  position: relative;
  left: 180px;
  color: #CB4B19;
}

#months {
  transform: rotate(7deg);
}
