.footer {
  position: relative;
  left: 0px;
  bottom: 0px;
  padding-top: 30px;
  height: 30px;
  width: 100%;
  text-align: center;
}

p {
  margin-bottom:0;
}

.footer-text {
  font-size: 60%;
  font-weight: 350;
}
